:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: column;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

nz-content {
  flex: 1;
  margin: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.inner-content {
  flex: 1;
  padding: 24px;
  background: #fff;
}

.active-menu {
  background-color: white !important;
  color: #e60000c0 !important;
  font-weight: bold;
}

ul[nz-menu] li[nz-menu-item]:hover,
ul[nz-menu] li[nz-menu-item].active-menu {
  background-color: white !important;
  color: #e60000c0 !important;
  font-weight: bold;
  transform: translateY(-3px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

router-outlet {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

router-outlet.ng-trigger {
  opacity: 1;
}

nz-sider,
nz-menu,
nz-header h1 {
  font-family: 'Poppins', sans-serif;
}

.dashboard-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.powerbi-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; // Ratio 16:9
  flex-grow: 1;
  overflow: hidden;
}

.powerbi-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
