<div class="dashboard-container">
    <div class="dashboard-header">
      <h1>Employabilité</h1>
    </div>
  
    <div class="dashboard-content">
      <div class="powerbi-container">
        <iframe 
          title="pi"
          src="https://app.powerbi.com/reportEmbed?reportId=8c27601e-bc75-4a13-bc91-6b4b4437c4f7&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&pageName=43dc452dce64357499f4"
          frameborder="0"
          allowfullscreen="true">
        </iframe>
      </div>
    </div>
  
    
  </div>
  