
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
@primary-color: #e60000; // Rouge ESPRIT
@link-color: #e60000;    // Pour les liens
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #ff4d4f;
@font-size-base: 14px;
@heading-color: #333333;
@text-color: #666666;
@border-radius-base: 6px;
@border-color-base: #d9d9d9;
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);
